@{
    ViewBag.Title = "APIView";
}
@model Group1FinalProject.Models.EntryData

<br />
<br />
<form name="input" form action="/API/GetONBData" method="post">
    Address 1:<br>
    <input type="text" name="Address1" id="Address1"><br>
    Address 2:<br>
    <input type="text" name="Address2" id="Address2">
    <br />
    <br />
    <input type="submit" value="Submit">
</form>
<br />
<br />
<br />
<br />
@if (ViewBag.Message != null)
{
    @ViewBag.Message
}
@ViewBag.oneLine
<br />
<br />
@ViewBag.absenteeind
<br />
<br />
@ViewBag.propclass
<br />
<br />
@ViewBag.propsubtype
<br />
<br />



