@model Group1FinalProject.Models.datatable

@{
    ViewBag.Title = "OwnerView";
}

<form action="SearchAddress">
    Search by value:<input type="text" name="AddressID" />
    <input type="submit" value="search" />
</form>

<form action="/Home/SearchData">
    Search by status:
    <select name="SearchFlag">
        @foreach (var element in ViewBag.Names)
            {
            <option value="@element">@element</option>
        }
    </select>
    <input type="submit" value="Submit">
    </form>
    <table border="1">
        <tr><th>Address</th><th>User Submitted</th><th>Status</th></tr>
        @foreach (var item in ViewBag.Message)
        {
            <tr>
                <td>@item.dataaddress</td>
                <td>@item.username</td>
                <td>@item.Ifsquat</td>
                <td><a href="SaveItemUpdate?UpdateName=@item.dataaddress">Update</a></td>
            </tr>
        }
    </table>
