@model Group1FinalProject.Models.datatable

@{
    ViewBag.Title = "OwnerView";
}
<br />
<br />
<br />
<h3>Property Search for Homeowners</h3>
<br />

<p>
    If you believe your property has fallen victim to squatters, use our search tool below<br />
    to search for any reports made against your address. 
</p>
<br />
<form action="SearchAddress">
    Search by Street Address, City or State:<input type="text" name="AddressID" />
    <input type="submit" value="Search" />
</form>
<br />

<p>
    You can also search by whether an address has been reported or not. Use the <br />
    drop down arrow below to search by property's status.<br />
    Y: Yes - this address has been "flagged" and has potential squatter<br />
    N: No - this address is no longer "flagged" with a potential squatter<br />
</p>
<br />
<center><form action="/Home/SearchData">
    Search by status:
    <select name="SearchFlag">
        @foreach (var element in ViewBag.Names)
            {
            <option value="@element">@element</option>
        }
    </select>
    <input type="submit" value="Submit">

    </form>
    <table border="1">
        <tr><th>Address</th><th>User Submitted</th><th>Status</th><th>Edit</th></tr>
        @foreach (var item in ViewBag.Message)
        {
            <tr>
                <td>@item.dataaddress</td>
                <td>@item.username</td>
                <td>@item.Ifsquat</td>
                <td><a href="SaveItemUpdate?UpdateName=@item.dataaddress">Update</a></td>
            </tr>
        }
    </table>
</center>
