@{
    ViewBag.Title = "ReportView";
}


<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<html>

<head>
    <title>Squatter Spotter - Report a Squatter</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="index.html">Squatter<span class="logo_colour"> Spotter</span></a></h1>
                    <h2>Protecting Your Neighborhood.</h2>
                </div>
            </div>
            <div id="centeredmenu">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Report/ReportView">Report A Squatter</a></li>
                    <li><a href="/Owner/OwnerView">Our Database</a></li>
                    <li><a href="/Owner/MyReportsView">Your Reports</a></li>
                    <li><a href="/Home/AboutUS">About Us</a></li>
                    <li><a href="/Home/FAQView">FAQ</a></li>
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                </ul>
            </div>
        </div>
        <div id="content_header"></div>
        <div id="site_content">
            <div id="sidebar_container">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <!-- insert your sidebar items here -->
                        <h3>Latest News</h3>
                        <h4>Squatter sentenced to 14 years in prison</h4>
                        <h5>May 30, 2017</h5>
                        <p>Ring leader of a criminal enterprise that illegally took possession of several homes in the Chicago area has been sentenced to 14 years in prison<br /><a href="http://www.chicagotribune.com/suburbs/daily-southtown/news/ct-sta-beverly-squatter-sentenced-st-0524-20170523-story.html">Read more</a></p>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="/Report/ReportView">Report A Squatter</a></li>
                            <li><a href="/Owner/OwnerView">Search Our Database</a></li>
                            <li><a href="/Home/FAQView">Check out our FAQ's</a></li>
                            <li><a href="/Home/AboutUS">Meet The Developers</a></li>

                        </ul>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
                <div class="sidebar">
      
       
                </div>
            </div>
            <div id="content">
                <!-- insert the page content here -->
                <br />
                <h2><font size="6">Report A Squatter</font>  </h2>
                <br />

                <p>
                    If you believe a property is being occupied by a squatter, please enter the address
                    below of the property. <br />This will then flag the address in our database. Property owners 
                    will have the ability to check if their property has a squatter, allowing them take 
                    neccessary action. Once you report the address, please fill the form below to provide us
                    additional information.
                </p>
                <br />
                <p>
                    <i>
                        If you are a homeowner, please visit Our Database page to utilize our search tool and access <br />
                        our squatter database.
                    </i>
                </p>
                
                    <center>
                        <div> </div>
                        <h2>Map of Reported Squatters</h2>
                        <div id="map" style="width:650px;height:650px;"></div><div>

                        </div>
                        <br />
                        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
                        <meta charset="utf-8">

                    </center>

                    <h2>Please search the address of the squatter here</h2>
                    <form name="input" form action="/API/GetONBData" method="post">
                        Street: <i>(i.e. 1245 Example St )</i><br />
                        <input type="text" name="Address1" id="Address1"><br>
                        City, State:<br>
                        <input type="text" name="Address2" id="Address2">
                        <br />
                        <br />
                        <input type="submit" value="Search">
                    </form>

                    <br />
                    @if (ViewBag.house != null)
                    {
                        @ViewBag.house
                    }
                    @ViewBag.oneLine
                    <br />
                    @ViewBag.absenteeind
                    <br />
                    @ViewBag.propclass
                    <br />
                    @ViewBag.propsubtype
                    <br />
                    @ViewBag.wallType
                    <br />
                    @ViewBag.garagetype
                    <br />
                    @ViewBag.Reported
                    <br />

<p><strong><mark>If you have spotted a squatter at the above address, please fill out the form below</mark> </strong></p>
                        
                    <form name="input" action="/MAP/Redirect" onsubmit="return validateForm()" method="post">
                        <input id="address" type="hidden" name="address" value="@ViewBag.oneLine">
                        When is the squatter normally at premise?<br>
                        <input type="text" name="timeofday" id="timeofday">
                        <br />
                        <br />
                        Illicit drugs on property? :<br>
                        <select name="narc">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                            <option value="U">Unsure</option>
                        </select>
                        <br />
                        <br />
                        Have the police been notified of the squatter? :<br>
                        <select name="police">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                        <br />
                        <br />
                        Enter estimated start date of squatting:<br>
                        <input type="date" name="startsquat" id="startsquat">
                        <br />
                
                        Please enter any additional comments below:<br>
                        <TEXTAREA Name="comments" ROWS=4 COLS=30 id="comments"></TEXTAREA>
                        <br />
                        <input id="submitgeo" type="submit" value="Submit Report">
                    </form>
            

                <script type="text/javascript">

                 function initMap()
                 {
                     var modelarray = new Array();
                     modelarray = @Html.Raw(Json.Encode(ViewBag.Locations));

                     var map = new google.maps.Map(document.getElementById('map'), {
                         zoom: 4,
                         center: { lat: 42.331429, lng: -83.045753 }
                     });

                     var PreLoadgeocoder = new google.maps.Geocoder();
                     var geocoder = new google.maps.Geocoder();

                     for (var i = 0; i < modelarray.length; i++)
                     {
                         var location = modelarray[i].address;
                         PreGeocodeAddress(location, PreLoadgeocoder, map)
                         setTimeout(2000);
                     }

                     document.getElementById('submitgeo').addEventListener('click', function () {
                         geocodeAddress(geocoder, map);
                     });
                 }

                 function geocodeAddress(geocoder, resultsMap)
                 {
                     var address = document.getElementById('address').value;
                     var timeofday = document.getElementById('timeofday').value;
                     var narc = document.getElementById('narc').value;
                     var police = document.getElementById('police').value;
                     var startsquat = document.getElementById('startsquat').value;
                     var datereported = document.getElementById('datereported').value;
                     var comments = document.getElementById('comments').value;

                     PassData(address, timeofday, narc, police, startsquat, datereported, comments);

                     geocoder.geocode({ 'address': address }, function (results, status) {
                         if (status === 'OK')
                         {
                             resultsMap.setCenter(results[0].geometry.location);
                             var marker = new google.maps.Marker({
                                 map: resultsMap,
                                 position: results[0].geometry.location,
                                 icon: 'http://maps.google.com/mapfiles/kml/shapes/ranger_station.png',
                             })
                             
                         } else
                         {
                             alert('Geocode was not successful for the following reason: ' + status);
                         }
                     });
                 }

                 function PreGeocodeAddress(location, PreLoadgeocoder, resultsMap)
                 {
                     var address = location;

                     PreLoadgeocoder.geocode({ 'address': address }, function (results, status) {
                         if (status === 'OK')
                         {
                             resultsMap.setCenter(results[0].geometry.location);
                             var marker = new google.maps.Marker({
                                 map: resultsMap,
                                 position: results[0].geometry.location,
                                 icon: 'http://maps.google.com/mapfiles/kml/shapes/ranger_station.png',

                             })
                         } else
                         {}
                     });
                 }

                function PassData(address, timeofday, narc, police, startsquat, datereported, comments)
                {
                    //create javascript object
                    var model = new Object();

                    model.address = address;
                    model.timeofday = timeofday;
                    model.narc = narc;
                    model.police = police;
                    model.startsquat = startsquat;
                    model.datereported = datereported;
                    model.comments = comments

                    jQuery.ajax({
                        type: "POST",
                        url: "@Url.Action("../MAP/SendData")",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ coordinates: model }),
                        success: function (data) {
                            alert(data);
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                }

        function validateForm() {

            var address = document.getElementById("address").value;
            var timeofday = document.getElementById("timeofday").value;
            var narc = document.getElementById("narc").value;
            var police = document.getElementById("police").value;
            var startsquat = document.getElementById("startsquat").value;
            var datereported = document.getElementById("datereported").value;
            var comments = document.getElementById("comments").value;

            if (address == "" || timeofday == "" || narc == "" || police == "" || startsquat == "" || datereported == "" || comments == "")
            {
                alert("Please fill out all fields!");
                return false;
            }
        }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3uXZRFB9AlWQe-ZoMa4tDzgU_l_XUB_0&callback=initMap">
                </script>

                <br />
                <br />
            </div>
        </div>
        <div id="content_footer"></div>
        <div id="footer">
            <p><i>*Disclaimer:</i> The residential information on this site is only as accurate as provided Onboard Developer Platform.</p>
            <p><a href="/Report/ReportView">Report A Squatter</a> | <a href="/Owner/OwnerView">Search Our Database</a> | <a href="/Home/FAQView">Check out our FAQ's</a> | <a href="/Home/AboutUS">Meet The Developers</a>
            <p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
        </div>
    </div>
</body>
</html>

