
@{
    ViewBag.Title = "MyReportsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Squatters you have reported!</h2>

<table border="1">
    <tr><th>Address</th><th>Time Of Day</th><th>Narcotics?</th><th>Day of squat start</th><th>Police notified?</th><th>Date Reported</th><th>Times Reported</th><th>Comments</th><th>Flagged</th><th>Change status</th><th>Edit Comments</th></tr>
    @foreach (var item in ViewBag.Data)
    {
        <tr>
            <td>@item.address</td>
            <td>@item.timeofday</td>
            <td>@item.narc</td>
            <td>@item.startsquat</td>
            <td>@item.police</td>
            <td>@item.datereported</td>
            <td>@item.reportedtimes</td>
            <td>@item.comments</td>
            <td>@item.flagged</td>
            <td><a href="SaveFlag?flagname=@item.address">Flag</a></td>
            <td><a href="UpdateComments?ToBeUpdated=@item.address">Edit Comments</a></td>
        </tr>
    }
</table>



