
@{
    ViewBag.Title = null;
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <title>Squatter Spotter</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="index.html">Squatter<span class="logo_colour"> Spotter</span></a></h1>
                    <h2>Protecting Your Neighborhood.</h2>
                </div>
            </div>
            <div id="centeredmenu">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Report/ReportView">Report A Squatter</a></li>
                    <li><a href="/Owner/OwnerView">Our Database</a></li>
                    <li><a href="/Owner/MyReportsView">Your Reports</a></li>
                    <li><a href="/Home/AboutUS">About Us</a></li>
                    <li><a href="/Home/FAQView">FAQ</a></li>
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                </ul>
            </div>

        </div>
        <br />
        <br /><center>
    <h2>Squatters you have reported!</h2>
    <!-- insert the page content here -->

    <table border="1">
        <tr><th>Address</th><th>Time Of Day</th><th>Narcotics?</th><th>Day of squat start</th><th>Police notified?</th><th>Date Reported</th><th>Times Reported</th><th>Comments</th><th>Flagged</th><th>Change status</th><th>Edit Comments</th><th>Delete Report</th></tr>
        @foreach (var item in ViewBag.Data)
        {
            <tr>
                <td style="text-align:center">@item.address</td>
                <td style="text-align:center">@item.timeofday</td>
                <td style="text-align:center">@item.narc</td>
                <td style="text-align:center">@item.startsquat</td>
                <td style="text-align:center">@item.police</td>
                <td style="text-align:center">@item.datereported</td>
                <td style="text-align:center">@item.reportedtimes</td>
                <td style="text-align:center">@item.comments</td>
                <td style="text-align:center">@item.flagged</td>
                <td><a href="SaveFlag?flagname=@item.address">Flag</a></td>
                <td><a href="UpdateComments?ToBeUpdated=@item.address">Edit Comments</a></td>
                <td><a href="DeleteReport?DeleteName=@item.address" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
        }
    </table>
</center>

</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
        <div id="content_footer"></div>
        <div id="footer">
            <p><i>*Disclaimer:</i> The residential information on this site is only as accurate as provided Onboard Developer Platform.</p>
            <p><a href="/Report/ReportView">Report A Squatter</a> | <a href="/Owner/OwnerView">Search Our Database</a> | <a href="/Home/FAQView">Check out our FAQ's</a> | <a href="/Home/AboutUS">Meet The Developers</a>
            <p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
        </div>
    
</body>
</html>







