@using Group1FinalProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<!DOCTYPE HTML>
<html>

<head>
    <title>Squatter Spotter</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="index.html">Squatter<span class="logo_colour"> Spotter</span></a></h1>
                    <h2>Protecting Your Neighborhood.</h2>
                </div>
            </div>
            <div id="centeredmenu">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Report/ReportView">Report A Squatter</a></li>
                    <li><a href="/Owner/OwnerView">Our Database</a></li>
                    <li><a href="/Owner/MyReportsView">Your Reports</a></li>
                    <li><a href="/Home/AboutUS">About Us</a></li>
                    <li><a href="/Home/FAQView">FAQ</a></li>
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                </ul>
            </div>
        </div>
        <!-- insert the page content here -->
        <center>
            <h2>@ViewBag.Title.</h2>
            <div class="row">
                <div class="col-md-8">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()
                            <h4>Use a local account to log in.</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                        }
                    </section>
                </div>
                <div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
        </center>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            <div id="content_footer"></div>
            <div id="footer">
                <p><i>*Disclaimer:</i> The residential information on this site is only as accurate as provided Onboard Developer Platform.</p>
                <p><a href="/Report/ReportView">Report A Squatter</a> | <a href="/Owner/OwnerView">Search Our Database</a> | <a href="/Home/FAQView">Check out our FAQ's</a> | <a href="/Home/AboutUS">Meet The Developers</a>
                <p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
            </div>
    </div>
</body>
</html>
